@import "tailwindcss";

@theme{
    --color-primary:#088b75;
    --color-secondary:#00b377;

    --color-accent:#8bc035;

    --color-text:#002221;
    --color-text-muted:#2c8571;

    --color-bg:#fff;
    --color-bg-alt:  #eefbfc;
    --color-alt-2: #cee7db;


}

@layer components{
.container{
        @apply mx-auto px-8 max-w-6xl;
    }
    .btn{
        @apply bg-primary p-4 rounded-md text-bg text-xl font-bold w-fit;
    }
    .div-hero{
        @apply flex flex-col gap-8 pr-4 text-2xl leading-relaxed items-center;
    }
    .div-hero-ico{
        @apply w-12 h-12 bg-bg text-text p-2 ;
    }
    .div-hero-title{
        @apply font-bold text-text text-2xl;
    }
    .div-hero-body{
        @apply text-text text-lg leading-10 text-center;
    }

    .needs-cards{
        @apply rounded-2xl border-text-muted border-1 p-8 flex flex-col items-center gap-12 w-8/9;
    }
    .needs-cards-title{
        @apply text-text text-2xl font-bold text-center;
    }
    .needs-cards-contain{
        @apply text-lg text-center text-text leading-relaxed;
    }
    .btn-second{
        @apply flex gap-4 text-text-muted font-black text-xl contain-content underline underline-offset-8  w-fit leading-relaxed;
    }
    .step-type{
        @apply rounded-full bg-accent w-14 h-14 pt-2 text-center text-4xl text-bg-alt font-extrabold;
    }

    .testimonial-type{
        @apply rounded-4xl border-1 border-alt-2 p-6 h-60 ;
    }
    .testimonial-type-msg{
        @apply text-lg text-text italic leading-relaxed;
    }
    .testimonial-type-autor{
        @apply text-xl text-text font-bold leading-relaxed mt-8;
    }

    .cat-widget{
        @apply text-xl text-primary font-bold rounded-full border border-alt-2 bg-white p-4 
    }

    .actuality-card{
        @apply flex flex-col gap-2 bg-white rounded-lg border border-alt-2 overflow-hidden relative h-150; 
    }

    .actuality-pict{
        @apply h-72 object-cover;
    }
    .actuality-cat{
        @apply uppercase text-primary text-lg font-bold p-4;
    }
    .actuality-title{
        @apply text-text text-xl font-bold px-4 pt-4;
    }
    .actuality-body{
        @apply text-text text-xl  px-4;
    }
    .actuality-footer{
        @apply flex gap-20 text-text text-lg font-bold  ;
    }
    .actuality-btn{
        @apply absolute bottom-4 right-4;
    }
    .actuality-date{
        @apply absolute bottom-4 left-4;
    }
}